body {
    margin: 0;
    padding: 0;
    background-color: rgb(57, 57, 58);
    color: white;
}

#gelatin-wrapper {
    padding: 0 5%;
}

#gelatin-wrapper #presentation {
    background-color: #47423F;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    border-radius: 2px;
    margin-top: 30%;
    padding: 10px 15px 15px 15px;
    margin-bottom: 30px;
}

#gelatin-wrapper h1 {
    margin: 30px auto;
    font-size: 1.7em;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
}

#gelatin-wrapper span,
#result h3,
#result p {
    font-family: verdana;
    line-height: 1.8em;
}

#gelatin-wrapper span {
    font-style: italic;
    font-size: 0.8em;
}

#gelatin-wrapper #calculator {
    margin: auto;
    text-align: center;
}

#gelatin-wrapper form {
    width: 100%;
}

#gelatin-wrapper form input {
    width: 70%;
    height: 2em;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: #4C4952;
    color: white;
}

#gelatin-wrapper form button {
    margin-top: 15px;
    width: 70%;
    border: none;
    height: 3em;
    background-color: #848487;
    transition: all 0.3s ease-out;
    color: white;
}

#gelatin-wrapper form button:hover {
    background-color: #606061;
    cursor: pointer;
}

 #result {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    background-color: #47423F;
    padding: 20px auto;
}

 #result h3 {
    margin-bottom: 0;
}

 #result p {
    margin-top: 0;
}

@media all and (min-width: 500px) {
    #gelatin-wrapper #presentation {
        max-width: 50%;
        margin: auto;
        margin: 5vh auto;
    }

    #gelatin-wrapper form {
        max-width: 300px;
        margin: auto;
    }
}